
  body {
    background-color:hsl(60, 10%, 10%);
    z-index: 10;

  }
   main {
    height: 100%;
  }
  .sentences {
      position: absolute;
      left: 0;
      width: 100vw;
  }

  .checkbutton{
      display: inline-block;
      vertical-align:center;
      padding-top: 5vh;
      text-align: center;
      padding-right: 3vw;
      padding-left: 5vw;
      margin-top: 0.7%;
  }

  .sentence{
      width: 100%;
      display: inline-block;
      vertical-align:top;  
      font-size: 1vw;
  }

  .sentence > span {
    display: inline-block;
    margin-top: 3%;
    margin-left: 5%;
    font-size: 1.8rem;
  }

  .sentence p {
      text-align: left;
      font-size: 1.5em;
      margin-right: 8%;
      margin-left: 5%;
      border-bottom: solid;
  }

  .wrapper-sentence {
    display: flex;
    position: relative;
    margin: auto;

  }

  .button-open {
    position: fixed;
    top: 95%;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 17vw;
    padding: 1em;
    text-align: center;
    background-color: #3140c9;
    color: #eaeaea;
    border-radius: 20rem;
    cursor: pointer;
  }
  /* モーダルウィンドウ */
.modal-window {
    　display: none;
      position: fixed;
      top: 80%;
      left: 80%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 300px;
      background-color: #dfdddd;
      border-radius: 5px;
      z-index: 11;
      padding: 2rem;
    }

.explanation{
    position:absolute;
    top: 5%;
    width: 500px;
}
.modal-window p {

    top: 0;
    color: black;
}
.textarea{
    　display: none;
      position: fixed;
      font-size: 1.5em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 150px;
      background-color: #dfdddd;
      border-radius: 5px;
      z-index: 11;
      padding: 2rem;
}
  /* 閉じるボタン */
  .button-close {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 1em;
    background-color: #c96931;
    color: #eaeaea;
    border-radius: 20rem;
    cursor: pointer;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  