
  body {
    background-color:hsl(60, 10%, 10%); 
    z-index: 10;
  }
  
  main {
    height: 100%;
  }
  .sentences {
      position: absolute;
      left: 0;
      width: 80vw;
      display: inline-block;
  }

  .suggest {
      position:fixed;
      z-index: 3;
      background-color:#769ece;
      top: 0;
      right: 0;
      width: 19vw;
      height: 83.5vh;
      /* bottom: 0; */
      overflow-y: auto;
      font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Helvetica Neue", "Lucida Sans Unicode", "Arial";
  }
  .system , .user{
    position: relative;
    display: inline-block;
    max-width: 192px;
    margin: 8px 0 0;
    padding: 9px 14px;
    border-radius: 19px;
    clear: both;
    box-sizing: content-box;/*はてな用*/
}
/*フキダシ左*/
.system , .left {
    float: left;
    width: 100%;
    margin-left: 62px;
    background: #FFFFCC;
    color: black;
    font-size: 0.7rem;
}
/*フキダシ右*/
.user ,.right {
  float: right;
  width: 100%;
  margin-right: 12px;
  font-size: 0.7rem;
  background: #7adc40;
}
.icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -54px;
  top: -2px;
  border-radius: 20px;
  border: black;
  background-color:aquamarine;
  border-color: white;
}

.attention_word{
  color: black;
  position: fixed;
  width: 19vw;
  height: 12vh;
  right: 0;
  top: 80vh;
  z-index: 3;
  background-color:#769ece;
}

  .suggest h1{
      color: black;
      text-align: center;
      font-size: 0.8vw;
  }
  .wrapper-content{
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
  }
  .checkbutton{
      vertical-align:center;
      padding-top: 5vh;
      text-align: center;
      padding-right: 5vw;
      padding-left: 5vw;
  }

  .sentence{
      width: 100%;
      vertical-align:top;
      border-bottom: solid;
      font-size: 1vw;
      
  }
  
  .sentence > span {
    display: inline-block;
    margin-left: 2%;
    font-size: 1.5rem;
  }

  .sentence p {
      text-align: left;
      font-size: 1.5em;
      overflow-wrap: break-word;
  }

  .wrapper-sentence {
    display: flex;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
  }

.textarea{
      position: fixed;
      width: 18.75vw;
      height: 100px;
      z-index: 3;
      right: 0;
      bottom: 3vh;
      border: black;
}
  /* 閉じるボタン */
  .button-close {
    position: fixed;
    left:90.5%;
    top:98%;
    z-index: 20;
    border: solid;
    transform: translate(-50%, -50%);
    width: 19vw;
    padding: 1em;
    background-color: #c96931;
    color: #eaeaea;
    /* border-radius: 20rem; */
    cursor: pointer;
  }

  .suggest_content{
    color: black;
  }

  .suggest_content > a,a:hover,a:visited{
    color: inherit;
}

  .suggest_content > a>span{
    display: inline-block; 
    margin-left: 2%;
    margin-top: 2%;
  }

  .suggest_content > p{
    word-break:break-all;
  }

  /* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
.loaded {
  opacity: 0;
  visibility: hidden;
}


.tag {
  position: relative;
  display: inline-block;
  height: 32px;
  margin-left: 50px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #fa4141;
}

.tag:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #fa4141 transparent transparent;
}

.tag:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}