<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script src="https://kit.fontawesome.com/25e48f69d0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <title>TKBCoder</title>
</head>
<body>
    <header>
        <div class="wrapper-menu">
            <form action="/" method="GET">
                <button i class="fa-solid fa-house"><span>Home</span></button>
            </form>
            <form action="/history" method="GET">
                <button i class="fas fa-history"><span>History</span></button>
            </form>
            <form action="/result" method="GET">
                <button i class="fas fa-chart-line"><span>Analysis</span></button>
            </form>
        </div>
        
        <h1>TKBCoder</h1>
        <div class="wrapper-button">
            <form method="post" enctype="multipart/form-data">
                <label class="upload-label">
                    <input placeholder="データ" name="file" type="file" accept=".txt, .doc, .docx" multiple/>
                </label>
                <button type="submit">送信する</button>
            </form>
        </div>
        
    </header>
      <main>
          <p>テキストデータをアップロードしてください</p>
          <p>以下に文章が表示されます</p>

      </main>
    
</body>
</html>
